.app-layout {
  width: 100vw;
  height: 100vh;
}

.app-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  margin: 0 !important;
  color: white !important;
}

.content-layout {
  height: calc(100% - 64px);
}

.app-sider {
  background: #fff;
  padding: 8px;
  overflow: auto;
  height: 100%;
}

.main-content {
  background: #fff;
  margin: 8px;
  padding: 8px;
  overflow: auto;
}
